node_modules/**/*
client/node_modules/**/*
server/node_modules/**/*
.expo/*
.idea/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
client/.expo/
client/node_modules/@apollo/
client/node_modules/@types/node/
client/node_modules/@types/zen-observable/
client/node_modules/@wry/
client/node_modules/apollo-cache-inmemory/
client/node_modules/apollo-cache/
client/node_modules/apollo-client/
client/node_modules/apollo-link-http-common/
client/node_modules/apollo-link-http/
client/node_modules/apollo-link/
client/node_modules/apollo-utilities/
client/node_modules/eslint-plugin-relay/node_modules/
client/node_modules/fast-json-stable-stringify/
client/node_modules/graphql/jsutils/Maybe.d.ts
client/node_modules/graphql/jsutils/defineInspect.js
client/node_modules/graphql/jsutils/defineInspect.js.flow
client/node_modules/graphql/jsutils/defineInspect.mjs
client/node_modules/graphql/jsutils/isCollection.js
client/node_modules/graphql/jsutils/isCollection.js.flow
client/node_modules/graphql/jsutils/isCollection.mjs
client/node_modules/graphql/polyfills/arrayFrom.js
client/node_modules/graphql/polyfills/arrayFrom.js.flow
client/node_modules/graphql/polyfills/arrayFrom.mjs
client/node_modules/graphql/polyfills/symbols.js
client/node_modules/graphql/polyfills/symbols.js.flow
client/node_modules/graphql/polyfills/symbols.mjs
client/node_modules/graphql/utilities/getIntrospectionQuery.d.ts
client/node_modules/graphql/utilities/getIntrospectionQuery.js
client/node_modules/graphql/utilities/getIntrospectionQuery.js.flow
client/node_modules/graphql/utilities/getIntrospectionQuery.mjs
client/node_modules/graphql/utilities/printSchema.d.ts
client/node_modules/graphql/utilities/printSchema.js
client/node_modules/graphql/utilities/printSchema.js.flow
client/node_modules/graphql/utilities/printSchema.mjs
client/node_modules/graphql/validation/rules/ExecutableDefinitionsRule.d.ts
client/node_modules/graphql/validation/rules/ExecutableDefinitionsRule.js
client/node_modules/graphql/validation/rules/ExecutableDefinitionsRule.js.flow
client/node_modules/graphql/validation/rules/ExecutableDefinitionsRule.mjs
client/node_modules/graphql/validation/rules/FieldsOnCorrectTypeRule.d.ts
client/node_modules/graphql/validation/rules/FieldsOnCorrectTypeRule.js
client/node_modules/graphql/validation/rules/FieldsOnCorrectTypeRule.js.flow
client/node_modules/graphql/validation/rules/FieldsOnCorrectTypeRule.mjs
client/node_modules/graphql/validation/rules/FragmentsOnCompositeTypesRule.d.ts
client/node_modules/graphql/validation/rules/FragmentsOnCompositeTypesRule.js
client/node_modules/graphql/validation/rules/FragmentsOnCompositeTypesRule.js.flow
client/node_modules/graphql/validation/rules/FragmentsOnCompositeTypesRule.mjs
client/node_modules/graphql/validation/rules/KnownArgumentNamesRule.d.ts
client/node_modules/graphql/validation/rules/KnownArgumentNamesRule.js
client/node_modules/graphql/validation/rules/KnownArgumentNamesRule.js.flow
client/node_modules/graphql/validation/rules/KnownArgumentNamesRule.mjs
client/node_modules/graphql/validation/rules/KnownDirectivesRule.d.ts
client/node_modules/graphql/validation/rules/KnownDirectivesRule.js
client/node_modules/graphql/validation/rules/KnownDirectivesRule.js.flow
client/node_modules/graphql/validation/rules/KnownDirectivesRule.mjs
client/node_modules/graphql/validation/rules/KnownFragmentNamesRule.d.ts
client/node_modules/graphql/validation/rules/KnownFragmentNamesRule.js
client/node_modules/graphql/validation/rules/KnownFragmentNamesRule.js.flow
client/node_modules/graphql/validation/rules/KnownFragmentNamesRule.mjs
client/node_modules/graphql/validation/rules/KnownTypeNamesRule.d.ts
client/node_modules/graphql/validation/rules/KnownTypeNamesRule.js
client/node_modules/graphql/validation/rules/KnownTypeNamesRule.js.flow
client/node_modules/graphql/validation/rules/KnownTypeNamesRule.mjs
client/node_modules/graphql/validation/rules/LoneAnonymousOperationRule.d.ts
client/node_modules/graphql/validation/rules/LoneAnonymousOperationRule.js
client/node_modules/graphql/validation/rules/LoneAnonymousOperationRule.js.flow
client/node_modules/graphql/validation/rules/LoneAnonymousOperationRule.mjs
client/node_modules/graphql/validation/rules/LoneSchemaDefinitionRule.d.ts
client/node_modules/graphql/validation/rules/LoneSchemaDefinitionRule.js
client/node_modules/graphql/validation/rules/LoneSchemaDefinitionRule.js.flow
client/node_modules/graphql/validation/rules/LoneSchemaDefinitionRule.mjs
client/node_modules/graphql/validation/rules/NoFragmentCyclesRule.d.ts
client/node_modules/graphql/validation/rules/NoFragmentCyclesRule.js
client/node_modules/graphql/validation/rules/NoFragmentCyclesRule.js.flow
client/node_modules/graphql/validation/rules/NoFragmentCyclesRule.mjs
client/node_modules/graphql/validation/rules/NoUndefinedVariablesRule.d.ts
client/node_modules/graphql/validation/rules/NoUndefinedVariablesRule.js
client/node_modules/graphql/validation/rules/NoUndefinedVariablesRule.js.flow
client/node_modules/graphql/validation/rules/NoUndefinedVariablesRule.mjs
client/node_modules/graphql/validation/rules/NoUnusedFragmentsRule.d.ts
client/node_modules/graphql/validation/rules/NoUnusedFragmentsRule.js
client/node_modules/graphql/validation/rules/NoUnusedFragmentsRule.js.flow
client/node_modules/graphql/validation/rules/NoUnusedFragmentsRule.mjs
client/node_modules/graphql/validation/rules/NoUnusedVariablesRule.d.ts
client/node_modules/graphql/validation/rules/NoUnusedVariablesRule.js
client/node_modules/graphql/validation/rules/NoUnusedVariablesRule.js.flow
client/node_modules/graphql/validation/rules/NoUnusedVariablesRule.mjs
client/node_modules/graphql/validation/rules/OverlappingFieldsCanBeMergedRule.d.ts
client/node_modules/graphql/validation/rules/OverlappingFieldsCanBeMergedRule.js
client/node_modules/graphql/validation/rules/OverlappingFieldsCanBeMergedRule.js.flow
client/node_modules/graphql/validation/rules/OverlappingFieldsCanBeMergedRule.mjs
client/node_modules/graphql/validation/rules/PossibleFragmentSpreadsRule.d.ts
client/node_modules/graphql/validation/rules/PossibleFragmentSpreadsRule.js
client/node_modules/graphql/validation/rules/PossibleFragmentSpreadsRule.js.flow
client/node_modules/graphql/validation/rules/PossibleFragmentSpreadsRule.mjs
client/node_modules/graphql/validation/rules/PossibleTypeExtensionsRule.d.ts
client/node_modules/graphql/validation/rules/PossibleTypeExtensionsRule.js
client/node_modules/graphql/validation/rules/PossibleTypeExtensionsRule.js.flow
client/node_modules/graphql/validation/rules/PossibleTypeExtensionsRule.mjs
client/node_modules/graphql/validation/rules/ProvidedRequiredArgumentsRule.d.ts
client/node_modules/graphql/validation/rules/ProvidedRequiredArgumentsRule.js
client/node_modules/graphql/validation/rules/ProvidedRequiredArgumentsRule.js.flow
client/node_modules/graphql/validation/rules/ProvidedRequiredArgumentsRule.mjs
client/node_modules/graphql/validation/rules/ScalarLeafsRule.
d.ts
client/node_modules/graphql/validation/rules/ScalarLeafsRule.js
client/node_modules/graphql/validation/rules/ScalarLeafsRule.js.flow
client/node_modules/graphql/validation/rules/ScalarLeafsRule.mjs
client/node_modules/graphql/validation/rules/SingleFieldSubscriptionsRule.d.ts
client/node_modules/graphql/validation/rules/SingleFieldSubscriptionsRule.js
client/node_modules/graphql/validation/rules/SingleFieldSubscriptionsRule.js.flow
client/node_modules/graphql/validation/rules/SingleFieldSubscriptionsRule.mjs
client/node_modules/graphql/validation/rules/UniqueArgumentNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueArgumentNamesRule.js
client/node_modules/graphql/validation/rules/UniqueArgumentNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueArgumentNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueDirectiveNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueDirectiveNamesRule.js
client/node_modules/graphql/validation/rules/UniqueDirectiveNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueDirectiveNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueDirectivesPerLocationRule.d.ts
client/node_modules/graphql/validation/rules/UniqueDirectivesPerLocationRule.js
client/node_modules/graphql/validation/rules/UniqueDirectivesPerLocationRule.js.flow
client/node_modules/graphql/validation/rules/UniqueDirectivesPerLocationRule.mjs
client/node_modules/graphql/validation/rules/UniqueEnumValueNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueEnumValueNamesRule.js
client/node_modules/graphql/validation/rules/UniqueEnumValueNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueEnumValueNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueFieldDefinitionNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueFieldDefinitionNamesRule.js
client/node_modules/graphql/validation/rules/UniqueFieldDefinitionNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueFieldDefinitionNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueFragmentNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueFragmentNamesRule.js
client/node_modules/graphql/validation/rules/UniqueFragmentNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueFragmentNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueInputFieldNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueInputFieldNamesRule.js
client/node_modules/graphql/validation/rules/UniqueInputFieldNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueInputFieldNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueOperationNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueOperationNamesRule.js
client/node_modules/graphql/validation/rules/UniqueOperationNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueOperationNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueOperationTypesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueOperationTypesRule.js
client/node_modules/graphql/validation/rules/UniqueOperationTypesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueOperationTypesRule.mjs
client/node_modules/graphql/validation/rules/UniqueTypeNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueTypeNamesRule.js
client/node_modules/graphql/validation/rules/UniqueTypeNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueTypeNamesRule.mjs
client/node_modules/graphql/validation/rules/UniqueVariableNamesRule.d.ts
client/node_modules/graphql/validation/rules/UniqueVariableNamesRule.js
client/node_modules/graphql/validation/rules/UniqueVariableNamesRule.js.flow
client/node_modules/graphql/validation/rules/UniqueVariableNamesRule.mjs
client/node_modules/graphql/validation/rules/ValuesOfCorrectTypeRule.d.ts
client/node_modules/graphql/validation/rules/ValuesOfCorrectTypeRule.js
client/node_modules/graphql/validation/rules/ValuesOfCorrectTypeRule.js.flow
client/node_modules/graphql/validation/rules/ValuesOfCorrectTypeRule.mjs
client/node_modules/graphql/validation/rules/VariablesAreInputTypesRule.d.ts
client/node_modules/graphql/validation/rules/VariablesAreInputTypesRule.js
client/node_modules/graphql/validation/rules/VariablesAreInputTypesRule.js.flow
client/node_modules/graphql/validation/rules/VariablesAreInputTypesRule.mjs
client/node_modules/graphql/validation/rules/VariablesInAllowedPositionRule.d.ts
client/node_modules/graphql/validation/rules/VariablesInAllowedPositionRule.js
client/node_modules/graphql/validation/rules/VariablesInAllowedPositionRule.js.flow
client/node_modules/graphql/validation/rules/VariablesInAllowedPositionRule.mjs
client/node_modules/graphql/validation/rules/custom/
client/node_modules/hoist-non-react-statics/CHANGELOG.md
client/node_modules/optimism/
client/node_modules/react-apollo/
client/node_modules/react-native-gesture-handler/node_modules/
client/node_modules/rxjs/node_modules/
client/node_modules/ts-invariant/
client/node_modules/tslib/
client/node_modules/zen-observable-ts/
client/node_modules/zen-observable/
client/yarn-error.log
